<body>
    <h1>Add Countries</h1>
    <form action="/addCountries", method="POST">
        <label>Country Code:</label>
        <input type="text" name="ccode">
        <br>
        <label>Country Name:</label>
        <input type="text" name="cname">
        <br>
        <label>Country Details</label>
        <textarea type="text" name="cdetails"></textarea>
        <br>
        <input href="\countries" type="submit" value="Add">
    </form>

    <a href="\">Home</a>
</body>