<body>
    <h1>Add Head Of State</h1>
    <form action="/addHeadsOfState", method="POST">
        <label>ID:</label>
        <input type="text" name="_id">
        <br>
        <label>Title</label>
        <input type="text" name="headsOfState">
        <br>
        <input href="\headsofstate" type="submit" value="Add">
    </form>

    <a href="\">Home</a>
</body>